= form_for @pick do |f|
  - if @pick.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pick.errors.count, "error")} prohibited this pick from being saved:"
      %ul
        - @pick.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :pick_number
    = f.text_field :pick_number
  .actions
    = f.submit 'Save'
