!!! 5

%head
  %meta{ :charset => "utf-8" }
  
  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  %title= content_for?(:title) ? yield(:title) + ' - Raffle Notifier' : "Raffle Notifier"

  -# Included CSS Files
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  :plain
    <!--[if IE]>
  = javascript_include_tag 'html5shiv'
  :plain
    <![endif]-->
  = csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
          
        =link_to 'Raffle Notifier', root_path, class: 'brand'

        .nav-collapse.pull-right
          %ul.nav
            -if user_signed_in? && current_user.superuser?
              %li
                = nav_link 'Users', users_path, {}
            %li
              = nav_link 'Current Drawing', current_lottery_numbers_path, {}
            %li
              = nav_link 'Recent Drawings', lottery_numbers_path, {}
            -if user_signed_in?
              %li
                = nav_link 'My Picks', picks_path, {}
              %li
                = link_to 'Sign Out', destroy_user_session_path, method: :delete
              %li.divider-vertical.divider

              %li
                %p.navbar-text
                  Welcome, #{current_user.email}
            -else
              %li
                = nav_link 'Sign In', new_user_session_path, {}
              %li
                = nav_link 'Register', new_user_registration_path, {}
  .container
    .row
      .span1
      .span10
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      .span1

    .row.disclaimer
      .span12
        %p
          %strong
            Note: This site is in no way affiliated with Pioneer Valley or their raffle.  This site is provided only as a service and convenience.  If you get notified, please check that your raffle ticket actually matches the Massachusetts Evening Numbers Game and verify with Pioneer Valley that you have won.